<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <% for(var i=0; i<a.length; i++) {%>
        <br>
            <%=a[i].username%>
            <img class="" src="data:<%=array[i].contentType%>;base64,<%=array[i].data.toString('base64')%> " height="150px" width="150px">
        <br>
    <% } %>

</body>
</html>